.action-drawer {
    .chakra-modal__content-container {
        z-index: 1500;
    }

    .action-drawer-body {
        padding-bottom: max(env(safe-area-inset-bottom), 15px);
        z-index: 1500;

        .button {
            text-align: center;
            line-height: 45px;
            color: #3182ce;

            &:not(:first-of-type) {
                border-top: 1px solid rgba(0, 0, 0, 0.08);
            }
        }

        > .difficulty-selector {
            padding-left: 0;
            padding-right: 0;
            background-color: rgba(255, 255, 255, 0.9);
            border-radius: 10px;
            margin-bottom: 15px;
            backdrop-filter: blur(2px);
        }

        > .button {
            background-color: white;
            border-radius: 10px;
        }
    }
}
