.sudoku-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 15px;
    height: 100%;
    background-color: #e2e8f0;

    > h1 {
        font-size: 2.5rem;
    }

    .info {
        display: flex;
        justify-content: space-between;

        > span.pause {
            color: #2d3748;
            font-weight: bold;
        }
    }

    .board {
        .row {
            display: flex;

            &:first-of-type {
                border-top: 2px solid black;
            }

            &:last-of-type {
                border-bottom: 2px solid black;
            }

            &:not(:first-of-type) {
                > .cell {
                    border-top: 1px solid black;
                }
            }

            &:nth-child(3n) {
                > .cell {
                    border-bottom: 2px solid black;
                }
            }
        }
    }
}

.game-modal {
    border-radius: 15px;
    padding: 20px;
    text-align: center;

    > div {
        padding: 0;

        h1 {
            font-size: 1.4rem;
            font-weight: bold;
            margin: 10px 0;
        }

        p {
            font-size: 0.9rem;
            color: #2d3748;
            margin-bottom: 10px;
        }
    }
}
